# Usando Python 3 para conectar no banco de dados MySQL 
>## <i> <br> By: Omena M.S. ; <i> Disciplina de Banco de Dados

### Para realizar a conexão com o banco de dados mysql precisamos instalar o pacote  mysql-connector-python

O mysql-connector-python é um adaptador que possibilitará o acesso a bancos de dados MySQL por meio do python. Para realizar a instalação do mysql-connector execute os seguintes procedimentos.

a) Instalação do mysql-connector-python

In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./env35/lib/python3.5/site-packages (8.0.12)
Requirement already satisfied: protobuf>=3.0.0 in ./env35/lib/python3.5/site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: six>=1.9 in ./env35/lib/python3.5/site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.11.0)
Requirement already satisfied: setuptools in ./env35/lib/python3.5/site-packages (from protobuf>=3.0.0->mysql-connector-python) (40.4.3)

### Agora precisamos importar a o pacote para podermos utilizá-lo

b) para importar a biblioteca mysql-connector execute os seguintes procedimentos

In [2]:
import mysql.connector

agora podemos utilizar o pacote mysql-connector-python para acessar o banco de dados por meio da linguagem python

### Inicialmente utilizaremos a funcao connect da biblioteca mysql-connector-python para conectar no banco de dados desejado.

#### Observe a lista de parametros disponíveis para conexão.

database:  é o nome do banco de dados no qual desejamos conectar<br>
user:  usuario usado para autenticação<br>
password:  senha usada para autenticação<br>
host:  servidor de banco de dados (para bases de dados locais podemos utilizar:  localhost)<br>
port:  o número da porta de conexão que por padrão é 5432 caso não seja informada<br>

### Formas de conexão

#### Listando databases existentes no servidor

c) observe que passaremos como parametros para a função connect o nome do servidor, o usuário e a senha de acesso

In [3]:
conn = mysql.connector.connect (user='root', password='123456',
                               host='localhost',buffered=True)
cursor = conn.cursor()
databases = ("show databases")
cursor.execute(databases)
for i in cursor:
     print(i)

('information_schema',)
('ItemListDb',)
('atividade_integrado',)
('employees',)
('empresa_cr',)
('mysql',)
('performance_schema',)
('pickfantasy',)
('sys',)
('trabalho',)
('videoLocadora2',)

### Criando database no servidor mysql

In [4]:
create_db = "create database if not exists atividade_integrado"
cursor.execute(create_db)

In [5]:
cursor.execute('Commit')

### Coletando informações do servidor e especificando parametros detalhados para conexão

In [6]:
conn.server_port

3306

In [7]:
conn.get_server_version()

(5, 7, 23)

In [8]:
conn.get_server_info()

'5.7.23-0ubuntu0.16.04.1'

In [9]:
conn.fetch_eof_status()

{'affected_rows': 0,
 'field_count': 0,
 'insert_id': 0,
 'server_status': 0,
 'warning_count': 0}

Também podemos especificar os parametros separados por vírgula como no exemplo abaixo

In [10]:
conn = mysql.connector.connect(host="localhost",
                               port="3306",
                               database="atividade_integrado", 
                               user="root", 
                               password="123456")

Se a conexão for ciriada com sucesso retornará um objeto de conexão. Abaixo podemos observar o conteúdo do objeto criado.

In [11]:
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f3a34027390>

Agora precisamos criar um cursor por meio do método cursor() do objeto conecção. O cursor será utilizado para executar instruções SQL no banco de dados desejado.

In [12]:
cur = conn.cursor()

In [13]:
print(cur.description)

None

Uma vez criado nosso cursor, podemos emitir instruções sql para nosso banco de daddos.

## Criando tabelas, inserindo e manipulando informações

Antes de tudo, precisamos iniciar uma transação no banco de dados. A transação garantirá que ao final do processo as alterações possam ser confirmadas ou desfeitas.

In [14]:
cur.execute('start transaction')

a) vamos inciar criando nossa tabela

In [15]:
cur.execute("drop table if exists aluno")

In [16]:
print(cur.description)

None

In [17]:
cur.execute("create table aluno (matricula int primary key, nome varchar(100) not null)")

b) vamos inserir dados em nossa tabela aluno!

In [18]:
cur.execute("insert into aluno (matricula,nome) values (%s,%s)",(1,'Pedro'))
cur.execute("insert into aluno (matricula,nome) values (%s,%s)",(2,'Maria'))
cur.execute("insert into aluno (matricula,nome) values (%s,%s)",(3,'Ana'))

In [1]:
print(cur.description)

NameError: name 'cur' is not defined

c) Vamos consultar nossa tabela para verificar os dados inseridos

In [ ]:
#conn.execute('commit')

In [ ]:
#cur.execute('rollback')

d) vamos executar a instrução select do sql para obte os registros/linhas que estão na tabela aluno. as informações serão armazenadas dentro da variável linhas.

In [2]:
cur.execute("select * from aluno");

NameError: name 'cur' is not defined

In [ ]:
cur.fetchone()

(1, 'Pedro')

In [ ]:
for i in cur.fetchall():
    print(i)

(2, 'Maria')
(3, 'Ana')

In [ ]:
cur.execute("delete from aluno where matricula>1");

Next, creatme a new cursor by calling the cursor() method of the connection object. The cursor object is used to execute SELECT statements.

In [ ]:
cur.execute("select * from aluno");

In [ ]:
for i in cur.fetchall():
    print(i)

(1, 'Pedro')

### Confirmando ou desfazendo as alterações

Para confirmar todas as alterações e fechar a conexão podemos aplicar o Commit

In [ ]:
cur.execute("commit")

Caso seja necessário desfazer todas as atividades podemos executar um rollback

In [ ]:
cur.execute("rollback")

Para concluir podemos fechar o cursor

In [ ]:
cur.close()

True

O mysql-connector-python também fornece como forma alternativa de fechamento da conexão juntamente com commit

In [ ]:
conn.commit()

 O mysql-connector-python também fornece como forma alternativa de fechamento da conexão juntamente com rollback por meio do **conn.rollback()**

# Captura de erros

Tabmém é possível verificar a existencia de erros durante a execução e tomar ações com base nestes erros. veja o exemplo abaixo

In [ ]:
try:
    cur.execute("SELECT * FROM aluno")
except Exception as e:
    print("OCORRERAM PROBLEMAS!")
    print("Mensagem padrao de erro foi: ",e)
    try:
        cur.execute("Rollback")
        print("foi aplicado rollback")
    except Exception as e2:
        print("foi aplicado rollback, mas tentativa de aplicação falhou")
        print("Mensagem padrao de erro foi: ",e2)

OCORRERAM PROBLEMAS!
Mensagem padrao de erro foi:  Cursor is not connected
foi aplicado rollback, mas tentativa de aplicação falhou
Mensagem padrao de erro foi:  Cursor is not connected

observe que neste caso ocorreram erros pois o cursor já foi finalizado e portanto precisariamos criar um novo cursor.

# References

https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html

https://www.tutorialspoint.com/mysql/

https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-transaction.html

https://pypi.org/project/mysql-connector-python/

https://dev.mysql.com/doc/connector-python/en/connector-python-example-cursor-select.html

# Teste documentacao oficial

Verificação com base nas documenteção official do mysql-connector-python

### Criação de tabelas

In [ ]:
from __future__ import print_function

import mysql.connector
from mysql.connector import errorcode

DB_NAME = 'employees'

TABLES = {}
TABLES['employees'] = (
    "CREATE TABLE `employees` ("
    "  `emp_no` int(11) NOT NULL AUTO_INCREMENT,"
    "  `birth_date` date NOT NULL,"
    "  `first_name` varchar(14) NOT NULL,"
    "  `last_name` varchar(16) NOT NULL,"
    "  `gender` enum('M','F') NOT NULL,"
    "  `hire_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`)"
    ") ENGINE=InnoDB")

TABLES['departments'] = (
    "CREATE TABLE `departments` ("
    "  `dept_no` char(4) NOT NULL,"
    "  `dept_name` varchar(40) NOT NULL,"
    "  PRIMARY KEY (`dept_no`), UNIQUE KEY `dept_name` (`dept_name`)"
    ") ENGINE=InnoDB")

TABLES['salaries'] = (
    "CREATE TABLE `salaries` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `salary` int(11) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`from_date`), KEY `emp_no` (`emp_no`),"
    "  CONSTRAINT `salaries_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['dept_emp'] = (
    "CREATE TABLE `dept_emp` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `dept_no` char(4) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`dept_no`), KEY `emp_no` (`emp_no`),"
    "  KEY `dept_no` (`dept_no`),"
    "  CONSTRAINT `dept_emp_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE,"
    "  CONSTRAINT `dept_emp_ibfk_2` FOREIGN KEY (`dept_no`) "
    "     REFERENCES `departments` (`dept_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['dept_manager'] = (
    "  CREATE TABLE `dept_manager` ("
    "  `dept_no` char(4) NOT NULL,"
    "  `emp_no` int(11) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date NOT NULL,"
    "  PRIMARY KEY (`emp_no`,`dept_no`),"
    "  KEY `emp_no` (`emp_no`),"
    "  KEY `dept_no` (`dept_no`),"
    "  CONSTRAINT `dept_manager_ibfk_1` FOREIGN KEY (`emp_no`) "
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE,"
    "  CONSTRAINT `dept_manager_ibfk_2` FOREIGN KEY (`dept_no`) "
    "     REFERENCES `departments` (`dept_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

TABLES['titles'] = (
    "CREATE TABLE `titles` ("
    "  `emp_no` int(11) NOT NULL,"
    "  `title` varchar(50) NOT NULL,"
    "  `from_date` date NOT NULL,"
    "  `to_date` date DEFAULT NULL,"
    "  PRIMARY KEY (`emp_no`,`title`,`from_date`), KEY `emp_no` (`emp_no`),"
    "  CONSTRAINT `titles_ibfk_1` FOREIGN KEY (`emp_no`)"
    "     REFERENCES `employees` (`emp_no`) ON DELETE CASCADE"
    ") ENGINE=InnoDB")

### Conectando ao servidor

In [ ]:
from __future__ import print_function
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='root',  password='123456')
cursor = cnx.cursor()

### Criando banco de dados

In [ ]:
def create_database(cursor):
    try:
        cursor.execute(
            "CREATE DATABASE {} DEFAULT CHARACTER SET 'utf8'".format(DB_NAME))
    except mysql.connector.Error as err:
        print("Failed creating database: {}".format(err))
        exit(1)

try:
    cursor.execute("USE {}".format(DB_NAME))
except mysql.connector.Error as err:
    print("Database {} does not exists.".format(DB_NAME))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor)
        print("Database {} created successfully.".format(DB_NAME))
        cnx.database = DB_NAME
    else:
        print(err)
        exit(1)

In [ ]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

cursor.close()
cnx.close()

Creating table titles: already exists.
Creating table salaries: already exists.
Creating table dept_emp: already exists.
Creating table departments: already exists.
Creating table dept_manager: already exists.
Creating table employees: already exists.

### Inserindo informações

In [ ]:
cnx = mysql.connector.connect(user='root', database='employees', password='123456')
cursor = cnx.cursor()


tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO employees "
               "(first_name, last_name, hire_date, gender, birth_date) "
               "VALUES (%s, %s, %s, %s, %s)")
add_salary = ("INSERT INTO salaries "
              "(emp_no, salary, from_date, to_date) "
              "VALUES (%(emp_no)s, %(salary)s, %(from_date)s, %(to_date)s)")

data_employee = ('Geert', 'Vanderkelen', tomorrow, 'M', date(1977, 6, 14))

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information
data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'from_date': tomorrow,
  'to_date': date(9999, 1, 1),
}
cursor.execute(add_salary, data_salary)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

### Consultando Informações

In [ ]:
import datetime
import mysql.connector

cnx = mysql.connector.connect(user='root', database='employees', password='123456')
cursor = cnx.cursor()

##query = ("SELECT first_name, last_name, hire_date FROM employees "
##         "WHERE hire_date BETWEEN %s AND %s")

query = ("SELECT * FROM employees")


hire_start = datetime.date(1999, 1, 1)
hire_end = datetime.date(1999, 12, 31)

#cursor.execute(query, (hire_start, hire_end))
cursor.execute(query)
for i in cursor:
    print(i)

#for (first_name, last_name, hire_date) in cursor:
#  print("{}, {} was hired on {:%d %b %Y}".format(
#    last_name, first_name, hire_date))

cursor.close()
cnx.close()

## Definindo charset do database

In [ ]:
conn.set_character_set_name('UTF8')

In [ ]:
print(conn.charset)

# Configuração do ambiente virtual

In [ ]:
import os
print("Ambiente virtual: ",os.environ['VIRTUAL_ENV'])
print()
print("caminho completo: ", os.environ['PATH'])

# Other References Mysql:

### DbConnect

https://pypi.org/project/dbConnect/

### Quickstart Dbconnect

https://dbconnect.readthedocs.io/en/latest/user/quickstart.html#connection

### Database Camp

https://campus.datacamp.com/courses/introduction-to-relational-databases-in-python/advanced-sqlalchemy-queries?ex=2

### Docker Mysql

https://hub.docker.com/r/mysql/mysql-server/